body,
html {
  height: 100%;
  display: grid;
}

.center-container {
  /* thing to center */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-form, #join-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttongroup {
  flex-direction: row;
}